/* 可以定义图标大小,颜色 */
.icon-bilibili:before {
  color: #85c3de;
  font-size: 32px;
}
.icon-ZhuYe:before {
  font-size: 24px;
}
.icon-chuangjianmulu:before {
  font-size: 24px;
}
.icon-conversation:before {
  font-size: 24px;
}
.icon-biaoqian1:before {
  font-size: 24px;
}
.icon-wenjianleixing-biaozhuntu-wenjianjia:before {
  font-size: 24px;
}
.icon-zujian-fenleidaohang:before {
  font-size: 24px;
}
.icon-lianjiedian-connection-points:before {
  font-size: 24px;
}
.icon-aixin:before {
  font-size: 24px;
}
.icon-tupian:before {
  font-size: 24px;
}
.icon-tongjitu:before {
  font-size: 24px;
}
.icon-wendang:before {
  font-size: 24px;
}
.icon-yinle:before {
  font-size: 24px;
}
.icon-dianying:before {
  font-size: 24px;
}
.icon-notebook:before {
  font-size: 24px;
}
.icon-edit-tools:before {
  font-size: 24px;
}
.icon-talk:before {
  font-size: 24px;
}
.icon-setup:before {
  font-size: 24px;
}
.icon-paper-plane:before {
  font-size: 24px;
}
.icon-18qianyanjishu:before {
  font-size: 24px;
}
.icon-05huiyipeixunjiyao:before {
  font-size: 24px;
}
.icon-sousuo:before {
  font-size: 18px;
}
.icon-yejian:before {
  font-size: 18px;
}
/* 可以定义图标大小,颜色 */